@import 'colors';
@import 'mixins';

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100vw;
  min-width: 600px;
  background-color: $navFooterModal-background;  
  margin: 2rem 0;
}

.img {
  display: block;
  margin: 0 auto;
}

.nav {
  height: 10vh;
  min-height: 100px;
  max-width: 1000px;
  margin: 0 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .infoUser {
    display: flex;
    align-items: center;
    .avatarImg {
      height: 80px;
    }
  }
}

.main {
  background-image: url(/parking.png);
  background-size: cover;
  height: 12rem;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .bunner {
    @include button;
    @include blackBackground;
    font-size: 2rem;
    height: 1.6em;
    font-weight: 300;
  }

  input {
    font-size: 1.2rem;
    height: 2em;
    width: 25rem;
    border-radius: 1.25em  0 0  1.25em ;
    border: none;
    outline:none;
    padding-left: 1em;
  }

  div {
    display: flex;
  }

  input::placeholder {
    color: $navFooterModal-background;
  }
}

.modalVerifyCode {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 10px;
  height: 30vh;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $navFooterModal-background;
  border-radius: 1.25em  1.25em;

  .text {
    width: 80%;
  }
}

.buttonLight {
  @include button;
  background-color: $main-backrund ;
}

.buttonBlack {
  @include button;
  @include blackBackground;
}

.buttonBlackHalf {
  @include button;
  @include blackBackground;
  height: 2.4rem;
  border-radius: 0  1.25em  1.25em  0;
  margin-left: 0;
}

.mylogo {
  height: 85px;
  width: 87px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $navFooterModal-background; 

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.attantion {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3rem;
  width: 30rem;
  background-color: $navFooterModal-background; 
  border-radius: 1.25em  1.25em;
  @include blackBackground;
}

.opacity {
  opacity: 0.4
}

.joke {
  animation-name: slidein;
  animation-duration: 3s;
  margin-left: 0%;
  width: 100%;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}