@import '../../styles/colors';

.wholeTable{
  border-radius: 1rem;
  border-collapse: separate;
  margin-bottom: 3rem;
};

.th {
  background-color: $table-background;
  height: 4rem;
  width: 120px;

  .inner {
      display: flex;
      justify-content: space-around;
      
      .arrowDown::after {
        border: 1px solid black;
        content: '';
        position: relative;
        top: 15px; 
        border: 7px solid transparent;
        border-top: 7px solid black;
      }
    }
}

.thead {
  border: 1px solid green;
  border-radius: 1rem;
  tr th:first-child {
    border-radius: 20px 0 0 0;
  }
  tr th:last-child {
    border-radius: 0 20px 0 0;
  }
}

.tbody {
  tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
  }

  tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
  }
}

.td {
  background-color: $table-background;
  height: 3rem;
  width: 12rem;
  text-align: center;
}