@import "../../styles/colors";

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  min-height: 25rem;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  div:first-child {
    align-items: center;
    border: 15px solid transparent;
    border-right: 25px solid $navFooterModal-background;
    margin-right: 20px;
  }

  div:last-child {
    align-items: center;
    border: 15px solid transparent;
    border-left: 25px solid $navFooterModal-background;
    margin-left: 20px;
  }
}

.description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  min-height: 14.375rem;
}

.item {
  width: 12.5rem;
  display: flex;
  justify-content: center;

  img {
    width: 6.25rem;
    height: 6.25rem;
  }
}

.scale {
  img {
    width: 10rem;
    height: 10rem;
  }
  p {
    font-size: 1.5em;
  }
}

@media (max-width: 640px) {
  .picture {
    width: 600px;
  }
}

@media (max-width: 320px) {
  .picture {
    width: 300px;
  }

  .picture  {
    div:nth-child(2) {
      display: none
    }

    div:nth-child(4) {
      display: none
    }
  }

  .description  {
    div:first-child {
      display: none
    }

    div:last-child {
      display: none
    }
  }
}
